<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="ds" xsi:type="DebugSystem" layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}" />
		<target name="foperation" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}" />
		<target xsi:type="File" name="f2" fileName="${basedir}/Logs/${event-properties:Random}_${shortdate}.txt"
				layout="${longdate}|${uppercase:${level}} ${message}"  maxArchiveFiles="100" maxArchiveDays="30" />
	</targets>
	<rules>
		<logger name="*" maxlevel="Debug"  writeTo="foperation" />
		<logger name="*" minlevel="Info" writeTo="f2" />
	</rules>
</nlog>